<div class = 'container-fluid'>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="signup-name">Name</label>
        <input class="text" id = "signup-name" name="name" type="text" />
        <label for = "signup-phone">Phone #</label>
        <input class = "text" id = "signup-phone" name = "phone" type = "tel">
        <label for="signup-username">Username/Email</label>
        <input name="username" id = "signup-username" type="text" />
        <label for="signup-password">Password</label>
        <input name="password" id = "signup-password" type="password" />
        {{!-- <input class="btn" type="submit" value="Sign Up" /> --}}
        <button class = "btn btn-primary" id = "signup-go">Sign Up</button>
    </form>
</div>
